@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.regular-64 {
  @apply text-[64px] font-[400] leading-[120%];
}

.regular-40 {
  @apply text-[40px] font-[400] leading-[120%];
}

.regular-32 {
  @apply text-[32px] font-[400];
}

.regular-24 {
  @apply text-[24px] font-[400];
}

.regular-20 {
  @apply text-[20px] font-[400];
}

.regular-18 {
  @apply text-[18px] font-[400];
}

.regular-16 {
  @apply text-[16px] font-[400];
}

.regular-14 {
  @apply text-[14px] font-[400];
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
